africastalking
aiosmtplib
alembic
bcrypt
boto3
email-validator
fastapi
httpx
openai
passlib
psycopg2-binary
pydantic
python-dotenv
python-jose
python-multipart
rapidfuzz
requests
sqlalchemy
sqlmodel
typer
uvicorn

